#active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80vw;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-size: 1em;
    letter-spacing: 0.2em;

    .circle-info {
        padding-bottom: 2em;
    }

    .play-again {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 4em;
        h1 {
            font-size: 3em;
            margin-bottom: 0.15em;
            color: #fafafa;
            text-shadow: 4px 1px 5px rgba(0, 0, 0, 0.2);
        }

        button {
            text-transform: uppercase;
            font-size: 0.8em;
            padding: 1em 0.5em;
            letter-spacing: 0.2em;
            text-align: center;
            color: $ScoreText;
            background: #fafafa;
            border-radius: 5px;
            border: 1px solid #fafafa;
            font-weight: 600;
            transition-duration: 0.4s;
            transition-timing-function: linear;

            &:hover {
                color: #fafafa;
                background: $ScoreText;
            }

            &:focus {
                outline: none;
                border: 1px solid $ScoreText;
            }
        }
    }

    .paper {
        background-image: url(../../images/icon-paper.svg);
    }
    .scissors {
        background-image: url(../../images/icon-scissors.svg);
    }
    .rock {
        background-image: url(../../images/icon-rock.svg);
    }

    .paper,
    .scissors,
    .rock {
        background-size: 50%;
    }

    .circle-outer {
        display: block;
        height: 16em;
        width: 16em;
        border-radius: 50%;
        text-align: center;
        box-shadow: inset 0px -10px rgba(0, 0, 0, 0.2);
        margin: 0 1em;
        .circle {
            display: inline-block;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            height: 12em;
            width: 12em;
            border-radius: 50%;
            position: relative;
            top: 2em;
            box-shadow: inset 0px 10px rgba(0, 0, 0, 0.1);
        }
    }

    .placeholder-outer {
        display: block;
        height: 12em;
        width: 12em;
        margin: 2em;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
    }

    @include respond(mobile) {
        height: max-content;
        width: 100vw;
        margin-top: 8vh;

        justify-content: space-around;
        p {
            font-size: 0.8em;
        }

        .circle-info {
            padding-bottom: 0;
        }

        .play-again {
            padding: 0;
        }

        .circle-outer {
            height: 20vh;
            width: 20vh;
            margin: 0;

            box-shadow: inset 0px -6px rgba(0, 0, 0, 0.2);

            .circle {
                height: 16vh;
                width: 16vh;
                top: 2vh;
                box-shadow: inset 0px 6px rgba(0, 0, 0, 0.1);
            }
        }

        .placeholder-outer {
            height: 7em;
            width: 7em;
            margin: 0;
        }

        .circle-container {
            display: flex;
            flex-direction: column-reverse;
        }

        .arrange {
            display: flex;
            margin: 0;
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(1),
            &:nth-child(3) {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}
.ripple {
    display: inline-block;
    position: absolute;
    // right: 100px;
    bottom: 12em;
    border-radius: 50%;
    background-color: deepskyblue !important;
    height: 25vh;
    width: 25vh;
    opacity: 0;
    animation: scaleIn 6s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    z-index: -10;
}

@keyframes scaleIn {
    from {
        transform: scale(1, 1);
        opacity: 0.5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}
