.score-container {
    display: flex;
    flex-direction: row;
    background-color: #f00;
    width: 40vw;

    .logo {
        flex: 1;
        background-image: url(../../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
