.trio {
    flex: 1;
    width: 100%;
    background-color: #f00;
    background-image: url(../../images/bg-triangle.svg);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
}
