.trio {
    flex: 1;
    width: 100%;
    background-image: url(../../images/bg-triangle.svg);
    background-size: 16em;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    display: flex;
    flex-direction: column;

    @include respond(mobile) {
        width: 90vw;
    }
}

.trio-row-1,
.trio-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: max-content;
}

.trio-row-1 {
    margin-top: 12vh;
    z-index: 0;
    .circle-outer:first-child {
        margin-right: 4em;
    }

    @include respond(mobile) {
        margin-top: 15vh;

        .circle-outer:first-child {
            margin-right: 2em;
        }
    }
}

.trio-row-2 {
    position: relative;
    top: 4vh;
}
.circle-outer {
    display: block;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    text-align: center;
    box-shadow: inset 0px -10px rgba(0, 0, 0, 0.2);

    .circle {
        display: inline-block;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        height: 7em;
        width: 7em;
        border-radius: 50%;
        position: relative;
        top: 1.5em;
        box-shadow: inset 0px 10px rgba(0, 0, 0, 0.1);
    }

    @include respond(mobile) {
        height: 9em;
        width: 9em;

        .circle {
            height: 7em;
            width: 7em;
            top: 1em;
        }
    }

    .paper {
        background-image: url(../../images/icon-paper.svg);
    }
    .scissors {
        background-image: url(../../images/icon-scissors.svg);
    }
    .rock {
        background-image: url(../../images/icon-rock.svg);
    }
}
.paper-outer {
    background: $PaperGradient;
}
.scissors-outer {
    background: $ScissorsGradient;
}
.rock-outer {
    background: $RockGradient;
}
