@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: radial-gradient(ellipse at top, #1f3756, #141539);
  height: 100vh;
  width: 100vw;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40vw;
  padding: 1.5em;
  border-radius: 10px;
  border: 2px solid #606e85;
  margin-top: 10vh;
}

.score-container .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.score-container .score {
  background-color: #f3f4f5;
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.score-container .score p {
  margin: 0;
}

.score-container .score p:first-child {
  padding-top: 0.5em;
  color: #2a46c0;
}

.score-container .score p:last-child {
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 0.15em;
  color: #606e85;
}

.trio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background-image: url(../../images/bg-triangle.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trio-row-1,
.trio-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.trio-row-1 .circle-outer:first-child {
  margin-right: 4em;
}

.trio-row-2 .circle-outer {
  margin-top: 2vh;
}

.circle-outer {
  margin-top: 14vh;
  display: block;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: inset 0px -10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px -10px rgba(0, 0, 0, 0.2);
}

.circle-outer .circle {
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  height: 7em;
  width: 7em;
  border-radius: 50%;
  position: relative;
  top: 1.5em;
  -webkit-box-shadow: inset 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 10px rgba(0, 0, 0, 0.1);
}

.circle-outer .paper {
  background-image: url(../../images/icon-paper.svg);
}

.circle-outer .scissors {
  background-image: url(../../images/icon-scissors.svg);
}

.circle-outer .rock {
  background-image: url(../../images/icon-rock.svg);
}

.paper-outer {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.scissors-outer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.rock-outer {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}
/*# sourceMappingURL=main.css.map */