*,
*::after,
*::before {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    margin: 0;
    background-image: $RadialGradient;
    height: 100vh;
    width: 100vw;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules {
    position: absolute;
    right: 2vw;
    bottom: 4vh;
    button {
        background: none;
        border: 1px solid #fafafa;
        color: #fafafa;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: 1em 2em;
        border-radius: $radius;
        transition-duration: 0.4s;
        transition-timing-function: linear;
        font-weight: 600;

        &:hover {
            color: $ScoreText;
            background: #fafafa;
        }
    }
}
