*,
*::after,
*::before {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    margin: 0;
    background-image: $RadialGradient;
    height: 100vh;
    width: 100vw;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;

    p {
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}

.rules {
    position: absolute;
    right: 2vw;
    bottom: 4vh;
    button {
        background: none;
        border: 1px solid #fafafa;
        color: #fafafa;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: 1em 2em;
        border-radius: $radius;
        transition-duration: 0.4s;
        transition-timing-function: linear;
        font-weight: 600;

        &:hover {
            color: $ScoreText;
            background: #fafafa;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:focus {
            border: 1px solid rgba(255, 255, 255, 0.1);
            outline: none;
        }
    }
}

.rules-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);

    div {
        background: #fafafa;
        padding: 1em 0;
        border-radius: $radius;
    }

    p {
        color: $DarkText;
        font-weight: 700;
        font-size: 1.5em;
    }

    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5em;

        img {
            height: max-content;
            width: max-content;
        }
    }
}
